<div class="container my-4">
    <p class="h5">Lista de Compra</p>
    <table class="table table-striped my-2" *ngIf="products.length > 0">
        <thead>
            <tr>
                <th scope="col">Cantidad</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products; let id = index">
                <th scope="row">{{quantity[id]}}</th>
                <td>{{p.name | uppercase}}</td>
                <td>$ {{p.price | number: '2.'}}</td>

                <td>
                    <div class="btn-group">
                        <button class="btn btn-outline-success" (click)="add(id)"><i class="bi bi-plus-circle"></i>
                        </button>
                        <button class="btn btn-outline-danger" (click)="substract(id)"><i class="bi bi-dash-circle"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <hr>
            <tr>
                <th scope="row">Total</th>
                <td></td>
                <td></td>
                <td>$ {{total | currency:'CLP':'symbol'}}</td>
            </tr>
            <tr>
                <th scope="row">Total + IVA</th>
                <td></td>
                <td></td>
                <td>$ {{total * 1.19 | currency:'CLP':'symbol'}}</td>
            </tr>
        </tbody>
    </table>
</div>