
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <h4 class="h4">Bienvenido/a</h4>
    <div class="col-8">
        <div class="row">
            <p>Trabajamos la disrupción del mundo de los negocios basados en tecnologías exponenciales. Desde everis marcamos el inicio de la siguiente generación tecnológica a través de distintas iniciativas innovadoras y disruptivas. Diseñamos el futuro, aumentamos el valor de los empleados a través de la inteligencia artificial, potenciamos la educación tecnológica a través de tecnologías creativas y somos un punto de unión entre el ecosistema global de startups y las grandes corporaciones. Estamos viviendo el cambio y seremos testigos y partícipes de ello.</p>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
          </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
